<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.bht.fpa.mail.s778455.fsnavigation.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            class="de.bht.fpa.mail.s778455.fsnavigation.view.NavigationView"
            id="de.bht.fpa.mail.s778455.fsnavigation.NavigationView"
            name="FSTree"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bht.fpa.mail.s778455.main.perspective">
         <view
               id="de.bht.fpa.mail.s778455.fsnavigation.NavigationView"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s778455.main.perspective.left">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.bht.fpa.mail.s778455.fsnavigation.commands.category"
            name="FS Navigation">
      </category>
      <command
            categoryId="de.bht.fpa.mail.s778455.fsnavigation.commands.category"
            id="de.bht.fpa.mail.s778455.fsnavigation.commands.sampleCommand"
            name="Set Base Directory">
      </command>
      <command
            categoryId="de.bht.fpa.mail.s778455.fsnavigation.commands.category"
            id="de.bht.fpa.mail.s778455.fsnavigation.viewhistory"
            name="View History">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s778455.fsnavigation.handlers.SetBaseDirectoryHandler"
            commandId="de.bht.fpa.mail.s778455.fsnavigation.commands.sampleCommand">
      </handler>
      <handler
            class="de.bht.fpa.mail.s778455.fsnavigation.handlers.ViewHistoryHandler"
            commandId="de.bht.fpa.mail.s778455.fsnavigation.viewhistory">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.bht.fpa.mail.s778455.fsnavigation.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s778455.fsnavigation.menus.sampleMenu"
               label="FS Navigation"
               mnemonic="M">
            <command
                  commandId="de.bht.fpa.mail.s778455.fsnavigation.commands.sampleCommand"
                  id="de.bht.fpa.mail.s778455.fsnavigation.menus.sampleCommand"
                  mnemonic="S">
            </command>
             <command
                  commandId="de.bht.fpa.mail.s778455.fsnavigation.viewhistory"
                  id="de.bht.fpa.mail.s778455.fsnavigation.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="de.bht.fpa.mail.s778455.fsnavigation.toolbars.sampleToolbar">
            <command
                  commandId="de.bht.fpa.mail.s778455.fsnavigation.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="de.bht.fpa.mail.s778455.fsnavigation.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
